/*container style -- global*/
.con-style{
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-color: white;
}

/*style for the side nav*/
.div-for-nav{
    min-height: 100%;
    background-color: #37803a;
}

.side-nav{
    color: white;
    margin-left: 20px;
    padding-bottom: 18px;
}


.linkColor{
    color: white;
}

.dashboardText{
    font-size: 20px;
    letter-spacing: 2px;
    margin: 2px 0 2px 40px;
    color: white;
}

li{
    list-style-type: none;
    margin-left: 20px;
    line-height: 25px;
}

/*style for the main body*/
.div-for-content{
    background-color: white;
    color: #015b2b;
}
/*style for the school's logo*/
.img-school{
    max-height: 55%;
    max-width: 55%;
    margin-left: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navHeader{
    color: white;
    background-color: #37803a;
    border: white 2px solid;
    height: 50px;
}

.appName{
    margin-top: 5px;
    margin-right: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}
    /*button style*/
.buttonContainer{
    margin-top: 35px;
    background-color: white;
}

.btnSize{
    color: white;
    background-color: #c22114;
    border: 1px solid #c22114;
    margin-bottom: 85px;
    text-transform: uppercase;
    font-size: 25px;
    height: 9em;
    width: 9em;
    border-radius: 50%;

}

.glyphSize{
    font-size: 50px;
}

.dayRow{
    border: 2px solid black;
}

.sem{
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btnborder:hover{
    color: black;
    border: 1px solid #37803a;
    border-radius: 12px;
    background-color: #37803a;
}