<!doctype html>
<html lang="{{ config('app.locale') }}">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Home</title>
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
<!-- Styles -->
<link href="css\bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css\style.css" rel="stylesheet" type="text/css">

{{--Scripts--}}
    <script src="{{ asset('js/app.js') }}"></script>
</head>

<body>

<div class="container-fluid con-style">

    <!-- Main body -->
    <div class="row">
        <div class="col-md-2 div-for-nav">
            <p class="dashboardText"><strong>DASHBOARD</strong></p>
            <div>
               <br> <img class="img-circle img-school" src="images\SCHOOL LOGO.jpg" alt="Schools Logo"/>
            </div>

            <div class="side-nav">
                <br/><ul class="nav"><strong>ADD</strong></ul>
                <a href="add-student" role="button" class="linkColor"> <li >Add Student</li></a>
                <a href="add-invoice" role="button" class="linkColor"><li>Add Invoice</li></a>
                <a href="add-timetable" role="button" class="linkColor"><li>Add TimeTable</li></a>
                <a href="add-result" role="button" class="linkColor"><li>Add Result</li></a>

                <br><br/><ul class="nav"><strong>UPDATE</strong></ul>
                <a href="select-student" role="button" class="linkColor"> <li>Update Student</li></a>
                <a href="select-invoice" role="button" class="linkColor"> <li>Update Invoice</li></a>
                <a href="select-timetable" role="button" class="linkColor"> <li>Update TimeTable</li></a>
                <a href="select-result" role="button" class="linkColor"> <li>Update Result</li></a>

                <br/><br>  <ul class="nav"><strong>VIEW</strong></ul>
                <a href="view-students" role="button" class="linkColor"> <li>View Student</li></a>
                <a href="view-invoices" role="button" class="linkColor"> <li>View Invoice</li></a>
                <a href="view-timetable" role="button" class="linkColor"> <li>View TimeTable</li></a>
                <a href="view-results" role="button" class="linkColor"> <li>View Result</li></a>
                <br/><br/><br/>
            </div>
        </div>


        <div class="col-md-10 div-for-content">
            <!-- Header -->
            <header>
                <div class="row">
                    <div class=" navHeader col-md-12">
                        <p class="appName"><strong>PORTRAY</strong>
                            <span style="color: white; float: right; font-size: 10px; margin-top: 10px;"><strong>
                                    @if (Auth::guest())
                                        <span><a href="{{ route('login') }}">Login</a></span>
                                        <span><a href="{{ route('register') }}">Register</a></span>
                                    @else
                                        <span class="dropdown">
                                            <a style="color: white;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                                {{ Auth::user()->name }} <span class="caret"></span>
                                            </a>

                                            <span class="dropdown-menu" role="menu">
                                                <span>
                                                    <a style="font-size: 10px;" href="{{ route('logout') }}"
                                                       onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();">
                                                        Logout
                                                    </a>

                                                    <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                                                        {{ csrf_field() }}
                                                    </form>
                                                </span>
                                            </span>
                                        </span>
                                    @endif
                                </strong></span>
                        </p>

                    </div>
                </div>
            </header>


            <div class="buttonContainer">
            <div class="row">
                <div class="col-md-6">

                    <a href="{{url('/student-report')}}" class="btn btn-lg btnSize" role="button">
                        <br><span> Students </span><br><span class="glyphicon glyphicon-user glyphSize"></span></a>
                </div>

                <div class="col-md-6 ">
                    <a href="#" class="btn btn-lg btnSize" role="button">
                        <br><span> invoices </span><br><span class="glyphicon glyphicon-th-list glyphSize"></span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <a href="#" class="btn  btn-lg btnSize" role="button">
                        <br><span> Timetable </span><br><span class="glyphicon glyphicon-calendar glyphSize"></span></a>
                </div>

                <div class="col-md-6 ">
                    <a href="#" class="btn btn-lg btnSize" role="button">
                        <br><span> Profile </span><br><span class="glyphicon glyphicon-user glyphSize "></span></a>
                </div>

            </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>

